
body{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

h1{
    color:grey;
}

label {
    font-size: 1.5em;
    color:black;
  }

  :checked + label {
    text-decoration: line-through;
    color: grey;
  }