body{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

h1, h4, p{
    color:grey;
}

label {
    font-size: 1.5em;
    color:black;
}

.todo{
    min-height: 400px;
}

.notepad{
    background-color: rgba(170, 120, 170, 0.637);
}

:checked + label {
    text-decoration: line-through;
    color: grey;
}

.center{
    text-align: center;
}

.btn{
    width: 100px !important;
    height: 60px;
}

 /* .row{
    border: 1px solid red;
}
.col{
    border: 1px solid blue;
}  */